:root {
  color-scheme: light;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
